---
layout: "layouts/base.njk"
---

{% include "partials/page-heading.njk" %}

<div class="container container--md breadcrumb">
    <a href="{{ backTo }}{% if backToSection %}#{{ backToSection }}{% endif %}">back to {{ backToLabel }}</a>
</div>

{{ content | safe }}