---
layout: "layouts/with-title-and-breadcrumb.njk"
permalink: /shop/cart/
title: Cart
pageJs: cart
backTo: /shop/
backToLabel: shop
description: "Shop for scores and other digital products."
ogImage: "null"
ogAlt: "null"
---

<div class="container mt">
    <div class="container--md">
        <shopping-cart>
            <div class="container">
                <div class="js-hidden center flow">
                    <p class="italic">Javascript needs to be enabled for the cart functionality.</p>
                    <p class="italic">I know this is annoying, but it was the best way to not use cookies 🍪</p>
                </div>
            </div>
        </shopping-cart>
    </div>
</div>