---
layout: "layouts/with-title.njk"
permalink: /contact/thanks/
title: Thanks
---

<div class="container">
    <div class="grid cols2-even">
        <div class="container--md flex-justify-center">
            <video autoplay muted loop controls data-gif="true" class="edge-to-edge">
                <source src="/assets/video/thank-you2.mp4" type="video/mp4">
                <track kind="descriptions" src="/assets/video/thank-you2.vtt" srclang="en"/>
            </video>
        </div>

    <div class="container--md markdown flow flex-justify-center">
        <div class="constrain--lg flow">
            <p class="fs-700">Thanks for your message!</p>
            <p class="mt">I will get back to you as soon as possible.</p>
            <p>If you don't hear back from me via email soon, please check your junk folder.</p>
            <p>
                If you still haven't received a reply after one week, please don't 
                hesitate to contact me via any of the social links on the 
                <a href="/contact/">contact page</a>, or reach out directly via 
                email at:
            </p>
            <p>hello [at] bradley-burgess [dot] com</p>
        </div>
    </div>
    </div>
</div>

<script>
    localStorage.setItem('cart', '');
</script>