.back-to-top {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  padding-right: 0.5rem;
  a {
    position: relative;
    font-weight: 400;
    &::before {
      content: "";
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      background: url("../img/icons/flat/arrow-up-solid.svg");
      background-repeat: no-repeat;
      height: 0.9em;
      width: 1em;
      top: 1px;
    }
  }
}
