@use "variables" as *;

.clr-neutral-100 {
  color: $clr-neutral-100;
}
.clr-neutral-200 {
  color: $clr-neutral-200;
}
.clr-neutral-300 {
  color: $clr-neutral-300;
}
.clr-neutral-400 {
  color: $clr-neutral-400;
}
.clr-neutral-500 {
  color: $clr-neutral-500;
}
.clr-neutral-600 {
  color: $clr-neutral-600;
}
.clr-neutral-700 {
  color: $clr-neutral-700;
}
.clr-neutral-800 {
  color: $clr-neutral-800;
}
.clr-white {
  color: $clr-white;
}
.clr-offwhite {
  color: $clr-offwhite;
}
