<link rel="preload" href="/assets/fonts/source-sans-3-v8-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/source-sans-3-v8-latin-700.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/source-sans-3-v8-latin-600.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/open-sans-v29-latin-300.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/open-sans-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/open-sans-v29-latin-600.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/open-sans-v29-latin-700.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/assets/fonts/open-sans-v29-latin-italic.woff2" as="font" type="font/woff2" crossorigin />